<div class="container">
  <form action="" >
    <div class="form-group">
      <label for="name" class="font-weight-bold">Starting address</label>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" name="street" placeholder="enter street">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="city" placeholder="enter city">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="country" placeholder="enter country">
        </div>
      </div>
      <label for="name" <p class="font-weight-bold"></p>Final address</label>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" name="street" placeholder="enter street">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="city" placeholder="enter city">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="country" placeholder="enter country">
        </div>
      </div>
    </div>
    <button type="submit" style="float: right;" class="btn btn-primary">Submit</button>
  </form>
</div>