<div class="container">
  <form action="" >
    <div class="form-group">
      <label for="name" class="font-weight-bold">Starting address</label>
          <input type="text" class="form-control" name="starting_adress" placeholder="enter street, city, country">
      <label for="name" <p class="font-weight-bold"></p>Destination address</label>
      <input type="text" class="form-control" name="destination_adress" placeholder="enter street, city, country">
    <p></p>
    <button type="submit" style="float: right;" class="btn btn-primary">Submit</button>
  </form>
</div>