<div class="container">
<h5 style="font-weight: bold">Add new route</h5>
  <div class="row">
    <div class="col">
      <form action="/create">
        <div class="form-group">
        <label for="starting_adress" class="font-weight-bold">Starting address</label>
          <input type="text" class="form-control" name="starting_adress" placeholder="enter street, city, country">
        <label for="destination_adress" <p class="font-weight-bold"></p>Destination address</label>
          <input type="text" class="form-control" name="destination_adress" placeholder="enter street, city, country">
        <p></p>
        <button type="submit" style="float: right;" class="btn btn-primary">Submit</button>
      </form>
    </div>   
  </div>
</div>
<p>&nbsp;</p>
<% if @routes.count != 0 %>
  <div class="container">
  <h5 style="font-weight: bold">Routes during <%= @date_for_present_month.strftime("%B %Y") %></h5>
  <p></p>
 
  <table class="table table-bordered text-center">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Date</th>
      <th scope="col">Distance traveled</th>
    </tr>
  </thead>
  <tbody>
  <% @routes.each do |route| %>
    <tr>
      <td><%= link_to route[0], show_day_path(day: route[0]), method: "get", class: "text-dark" %></td>
      <td><%= route[1] %> km</td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
  <div class="container">
    <div class="row">
      <div class="col">
        <form action="/show_month" >
          <input type="hidden" name="day" value="<%= @date_for_present_month %>">
          <button type="submit" style="float: right;" class="btn btn-info">Month details</button>
        </form>
      </div>   
    </div>
  </div>
<% end %>

